name: Check & Update

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron:  '27 3 * * *'

jobs:
  update:
    if: github.repository_owner == 'Flamefire'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install tool
        run: sudo apt-get -o Acquire::Retries=5 install -y apktool

      - name: Update PIF
        run: |
            bash tools/autopif.sh
            if git diff --exit-code tools/pif.json; then
                echo "updated=no" >> $GITHUB_ENV
            else
                echo "updated=yes" >> $GITHUB_ENV
            fi

      - name: Commit new file
        if: env.updated == 'yes'
        run: |
            git config --global user.email "Flamefire@users.noreply.github.com"
            git config --global user.name "Alexander Grund"
            git add tools/pif.json
            msg="Update PIF"
            if [[ "$(git show --format="%s" --no-patch)" == "$msg" ]]; then
                git commit --amend --no-edit --allow-empty
            else
                git commit -m "$msg"
            fi
            git push --force-with-lease
